@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #4540db;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 60px 70px;
  font-size: var(--text-xl);
  align-items: center;
}

.navbar__menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar__logo {
  font-size: var(--text-2xl);
  font-weight: bold;
}

.navbar__logo span {
  color: var(--primary);
}

.navbar__menu-item:nth-last-child(1) {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.navbar__menu-item:nth-last-child(1):hover {
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--primary);
}

.navbar__menu-item:hover {
  color: var(--primary);
  text-decoration: underline;
  transition: all 0.2s;
}

.header {
  display: flex;
  align-items: center;
  padding: 60px 100px;
}

.header__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.header__description h1 {
  font-size: var(--text-6xl);
}

.header__description p {
  font-size: var(--text-2xl);
}

.header__description span {
  color: var(--primary);
}

.header__picture {
  width: 50%;
}

.header__picture img {
  width: 85%;
}

.content {
  padding: 60px 100px;
}

.content h1 {
  margin: 50px 0;
}

.content__image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.content__image img {
  width: 100%;
}

.content__testimonial {
  text-align: center;
  margin-top: 100px;
}

.testimonial {
  display: flex;
  gap: 30px;
  padding: 60px 100px;
}

.testimonial__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 45px 30px;
}

.testimonial__card-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial__card-text {
  text-align: justify;
}

.testimonial__card-people {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 60px 100px;
  gap: 30px;
  margin-top: 40px;
  background-color: #d6d6d6;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer__name span {
  color: var(--primary);
}

.footer__name {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address__text {
  display: flex;
  gap: 10px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.footer__contact {
  padding: 60px 100px;
  display: flex;
  gap: 15px;
}

.footer__form {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
