@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #4540db;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

.header__login {
  background-color: var(--primary);
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.login {
  margin-bottom: 50px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  border: 2px solid var(--primary);
  padding: 30px 40px;
  border-radius: 5px;
  margin: 0 auto;
}

.form__box {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 10px;
  border-radius: 5px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -10px 0 15px;
}

.remember-forgot label input {
  accent-color: var(--primary);
  margin-right: 5px;
}

.remember-forgot a {
  color: #000000;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.form__button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--primary);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.register__link {
  font-size: 14px;
  text-align: center;
}

.register__link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register__link p a:hover {
  text-decoration: underline;
}
