@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #4540db;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --font-thin: 100;
  --font-extralight: 200;
  --font--light: 300;
  --font--normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding: 60px 100px;
}

.about h1 {
  margin-top: 50px;
  font-size: var(--text-3xl);
}

.about p {
  font-size: var(--text-xl);
}

.management {
  margin: 50px 0;
}

.management h1 {
  text-align: center;
  padding: 50px;
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
}

.management__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.management__card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
}

.management__card img {
  width: 100%;
}

.management__card-text {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.management__card-text h4 {
  font-size: var(--text-2xl);
  color: var(--primary);
}

.management__card-text p {
  font-size: var(--text-xl);
  opacity: 0.7;
  font-weight: var(--font-semibold);
}

.management__link svg {
  width: 50px;
  color: var(--primary);
}
